
@{
    ViewBag.Title = "SitioEnContruccion";
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
}

<style>
    .form-bottom {
        padding: 25px 25px 30px 25px;
        background: #ffffff;
        /* background: rgba(0, 0, 0, 0.3); */
        -moz-border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
        text-align: left;
        /*border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;*/
        border: 1px solid #15436d;
    }
</style>
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-42" style="background-image: url('../../images/Headers/Header1.jpg'); text-align:center;">
    <div class=" h-full p-t-0 p-b-0 respon5" style="text-align:center;">
        <div class="layer-slick1 animated " style="text-align:center;">
            <br /><br /><br /><br /><br />
            @*<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1 text-center" style="font-size: 30px; width:100%; text-align:center;font-family: " Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;">
                    &nbsp;Publica una inmueble gratis   <span style="color: #dc8505"> </span>&nbsp;
                </h2>*@
            <br /><br /><br />
        </div>
    </div>
</section>


<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-sm-offset-2 text-center">
                    <h1 style="padding:30px"><strong>Lo sentimos, el sitio se encuentra en construcción .</strong> </h1>
                    <h1 style="padding:3px; font-size:150px"><strong><i class="fa fa-cogs" aria-hidden="true"></i></strong> </h1>
                    <div class="description">
                        <br />
                        <p>
                            Para poder brindarte el mejor servicio el sito se encuentra en mantenimiento temporalmente.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<div class="bg6 flex-c-m flex-w size-302 ">
    <span class="stext-107 cl6 p-lr-25">

    </span>

    <span class="stext-107 cl6 p-lr-25">

    </span>
</div>