
@{
    ViewBag.Title = "terminosycondiciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-sm-offset-2 text">
                    <h1 class="text-center"><strong>Términos Y Condiciones SIG </strong> </h1>
                    <br /><br />
                    <div class="sec-banner bg0 p-b-50">

                        <div class="bg6 flex-c-m flex-w size-301">
                            <span class="stext-107 cl6 p-lr-25">

                            </span>

                            <span class="stext-107 cl6 p-lr-25">

                            </span>
                        </div>
                    </div>


                    <div class="description text-justify">
                        <p>
                            Esta sección establece los términos y condiciones (en adelante, las “Condiciones Generales”) para el uso de los contenidos y servicios (en adelante, los “Servicios”) del sitio web especificado en la cláusula 12 (en adelante, el “Sitio Web”). El Sitio Web y los Servicios son prestados por la empresa detallada en la cláusula 12 (en adelante, “servicios inmobiliarios G”).
                        </p>
                        <br />
                        <p>En caso de no estar de acuerdo con las Condiciones Generales, por favor, abandone el Sitio Web y absténgase de utilizar los Servicios que se ofrecen. La utilización por el usuario del Sitio Web se entenderá como aceptación plena y sin reservas de las Condiciones Generales aquí establecidas.</p>
                        <br />
                        <p>En adelante, los términos “Usted” y “Usuario” serán utilizados para hacer referencia a todas las personas físicas y/o jurídicas que por cualquier razón accedan al Sitio Web.</p>
                        <br />
                        <p> <strong>1.ACCESO AL SITIO WEB.</strong></p>
                        <p> <strong>1.1 </strong>Acceso al Sitio Web.</p>
                        <p>El acceso y utilización del Sitio Web no exige la previa suscripción o registro del Usuario. Sin embargo, es posible que la utilización de algunos de los Servicios ofrecidos a través del Sitio Web requiera la suscripción o registro del Usuario y/o el pago de un precio.</p>
                        <br />
                        <p><strong>1.2</strong> Utilización del Sitio Web.</p>
                        <p><strong>1.2.1</strong>  El Usuario se compromete a utilizar el Sitio Web de conformidad con estas Condiciones Generales, las leyes aplicables conforme la cláusula 12 y con la moral y buenas costumbres.</p>
                        <br />
                        <p><strong>1.2.2</strong> El Usuario se obliga a abstenerse de utilizar el Sitio Web con fines o efectos ilícitos, contrarios a lo establecido en las Condiciones Generales, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar o deteriorar el Sitio Web o impedir la normal utilización del Sitio Web por parte de los Usuarios.</p>
                        <br />
                        <p><strong>1.3</strong> Contenido del Sitio Web.</p>
                        <br />
                        <p><strong>1.3.1</strong> Los contenidos de este Sitio Web, tales como texto, información, gráficos, imágenes, logos, marcas, programas de computación, bases de datos, diseños, arquitectura funcional y cualquier otro material (en adelante, el “Contenido”) están protegidos por las leyes aplicables en cada jurisdicción conforme la cláusula 12 incluyendo, pero sin limitación, las leyes sobre derechos de autor, patentes, marcas, modelos de utilidad, diseños industriales y nombres de dominio.</p>
                        <br />
                        <p><strong>1.3.2</strong> Todo el Contenido es propiedad de Servicios inmobiliarios G y/o de cualquier otra sociedad vinculada y/o de sus proveedores de contenido. La compilación, interconexión, operatividad y disposición de los contenidos del Sitio Web es de propiedad exclusiva de Servicios inmobiliarios G y/o de sus empresas vinculadas. El uso, adaptación, reproducción y/o comercialización no autorizada del Contenido puede encontrarse penado por la legislación vigente en cada jurisdicción.</p>
                        <br />
                        <p><strong>1.3.3</strong> Usted no copiará ni adaptará el código de programación desarrollado por, o por cuenta de, Servicios inmobiliarios G para generar y operar sus páginas, el cual se encuentra protegido por la legislación aplicable y vigente en cada jurisdicción.</p>
                        <br />
                        <p><strong>1.4</strong> Uso permitido del Sitio</p>
                        <br />
                        <p><strong>1.4.1</strong> Reglas generales: Los Usuarios tienen prohibido utilizar el Sitio Web para transmitir, distribuir, almacenar o destruir material (i) violando la normativa vigente, (ii) de forma que se infrinjan derechos de terceros o se viole la confidencialidad, honor, privacidad, imagen u otros derechos personales de otras personas.</p>
                        <br />
                        <p><strong>1.4.2</strong> Reglas de Seguridad del Sitio Web: Los Usuarios tienen prohibido violar o intentar violar la seguridad del Sitio Web, incluyendo pero no limitándose a: (i) el acceso a datos que no estén destinados a tal usuario o entrar en un servidor o cuenta cuyo acceso no está autorizado al Usuario, (ii) evaluar o probar la vulnerabilidad de un sistema o red, o violar las medidas de seguridad o identificación sin la adecuada autorización, (iii) intentar impedir el Servicio a cualquier Usuario, anfitrión o red, incluyendo, pero sin limitación, mediante el envío de virus al Sitio Web, o mediante saturación o ataques de denegación de Servicio, (iv) enviar correos no pedidos, incluyendo promociones y/o publicidad de productos o servicios, o (v) falsificar cualquier cabecera de paquete TCP/IP o cualquier parte de la información de la cabecera de cualquier correo electrónico o en mensajes de foros de debate.</p>
                        <br />
                        <p><strong>1.4.3</strong> Las violaciones de la seguridad del sistema o de la red constituyen delitos penales y pueden derivar en responsabilidades civiles. Servicios inmobiliarios G investigará los casos de violaciones a la seguridad del sistema, pudiendo dirigirse a la autoridad judicial o administrativa competente a los efectos de perseguir a los Usuarios involucrados en tales violaciones.</p>
                        <br />
                        <p><strong>1.5</strong> Usos  prohibidos</p>
                        <br />
                        <p><strong>1.5.1</strong> El Sitio Web sólo podrá ser utilizado con fines lícitos, para acceder a información referida a los Servicios disponibles a través del mismo. Servicios inmobiliarios G prohíbe específicamente cualquier utilización del Sitio Web para:</p>
                        <br />
                        <p>Anunciar datos biográficos incompletos, falsos o inexactos.</p>
                        <p>Registrar más de una cuenta correspondiente a un mismo usuario.</p>
                        <p>Usar cualquier mecanismo para impedir o intentar impedir el adecuado funcionamiento de este Sitio Web o cualquier actividad que se esté realizando en este Sitio Web.</p>
                        <p>Revelar o compartir su contraseña con terceras personas, o usar su contraseña para propósitos no autorizados.</p>
                        <p>El uso o intento de uso de cualquier máquina, software, herramienta, agente u otro mecanismo para navegar o buscar en este Sitio Web que sean distintos a las herramientas de búsqueda provistos por Servicios inmobiliarios G en este Sitio Web.</p>
                        <p>Intentar descifrar, descompilar u obtener el código fuente de cualquier programa de software de este Sitio Web.</p>
                        <br />
                        <p><strong>1.5.2</strong> Servicios inmobiliario G se reserva el derecho de suspender o dar de baja a cualquier Usuario que, a exclusivo criterio de Servicios inmobiliarios G, no cumpla con los estándares definidos en estas Condiciones Generales o con las políticas vigentes de Servicios inmobiliarios G, sin que ello genere derecho a resarcimiento alguno.</p>
                        <br />
                        <p>
                            <strong>1.6</strong> Canales de comunicación disponibles para los Usuarios
                            <br />
                        <p><strong>1.6.1</strong> El Usuario deberá utilizar los canales de comunicación disponibles —como chats y foros de discusión, entre otros— (en adelante, los “Canales”) de forma responsable, correcta y dando fiel cumplimiento a la normativa vigente.</p>
                        <br />
                        <p><strong>1.6.2</strong> El contenido de cada mensaje enviado por el Usuario a través de los Canales es de única y exclusiva responsabilidad del Usuario. Servicios inmobiliarios G no garantiza la veracidad de los datos personales y/o contenidos de cada mensaje efectuados y/o publicados en los Canales por el Usuario. El Usuario acepta voluntariamente que el acceso a y/o el uso de los Canales tiene lugar, en todo caso, bajo su exclusiva y única responsabilidad.</p>
                        <br />
                        <p><strong>1.6.3</strong> servicios inmobiliarios G se reserva el derecho a suspender temporal o definitivamente de los Canales y/o de los Servicios sin previo aviso, a quien no respete las presentes Condiciones Generales o realice actos que atenten contra el normal funcionamiento de los Servicios y/o de los Canales y/o del Sitio Web.</p>
                        <br />
                        <p><strong>1.6.4</strong> El Usuario reconoce y acepta que las siguientes conductas se encuentran terminantemente prohibidas:</p>
                        <br />
                        <p>Utilizar lenguaje vulgar /obsceno, discriminatorio y/u ofensivo;</p>
                        <p>Todo tipo de ataque personal contra Usuarios y/o terceros, incluyendo clientes de Servicios inmobiliarios G, mediante acoso, amenazas, insultos;</p>
                        <p>Todo acto contrario a las leyes, la moral y las buenas costumbres;</p>
                        <p>Publicar mensajes, imágenes e hipervínculos agraviantes, difamatorios, calumniosos, injuriosos, falsos, discriminatorios, pornográficos, de contenido violento, insultantes, amenazantes, incitantes a conductas ilícitas o peligrosas para la salud, y/o que vulneren de cualquier forma la privacidad de cualquier tercero como así también la violación directa o indirecta de los derechos de propiedad intelectual de Servicios inmobiliarios G y/o de cualquier tercero, incluyendo clientes de Servicios inmobiliarios G</p>
                        <p>Publicar mensajes que puedan herir y/o afectar la sensibilidad del resto de los Usuarios y/o de cualquier tercero, incluyendo clientes de Servicios inmobiliarios G;</p>
                        <p>Promocionar, comercializar, vender, publicar y/u ofrecer cualquier clase de productos, servicios y/o actividades por intermedio de o a través de la utilización de los Canales, excepto aquellas expresamente permitidas por Servicios Inmobiliarios G;</p>
                        <p>La venta, locación o cesión, ya sea a título oneroso o gratuito, del espacio de comunicación de los Canales;</p>
                        <p>Publicar mensajes que de cualquier forma contengan publicidad;</p>
                        <p>El uso o envío de virus informáticos, malware, spyware, ransomware y/o la realización de todo acto que cause o pudiera causar daños o perjuicios al normal funcionamiento de los Servicios y/o los Canales, o de los equipos informáticos o software de NAVENT y/o de cualquier tercero, incluyendo clientes de Servicios inmobiliarios G;</p>
                        <p>Todo acto dirigido a enmascarar y/o falsificar o disimular direcciones IP, correos electrónicos y/o cualquier otro medio técnico de identificación de los Usuarios o sus equipos informáticos;</p>
                        <p>Todo acto que viole la privacidad de otros Usuarios, o que viole cualquiera de sus derechos bajo la Ley N° 25.326;</p>
                        <p>La publicación de datos personales sin el consentimiento expreso del titular de los mismos;</p>
                        <p>La transmisión o divulgación de material que viole la legislación en vigor en el país y/o que pudiera herir la sensibilidad del resto de los Usuarios y/o de cualquier tercero, incluyendo clientes de Servicios Inmobiliarios G;</p>
                        <p>La publicación de cualquier tipo de contenido en violación de derechos de terceros, incluyendo sin limitación los derechos de propiedad intelectual y/o industrial.</p>
                        <br />
                        <p><strong>1.6.5</strong> Servicios inmobiliarios G no tiene obligación de controlar ni controla la utilización que el Usuario haga de los Canales. No obstante ello, servicios inmobiliarios G se reserva el derecho de no publicar o remover luego de ser publicados todos aquellos contenidos y/o mensajes propuestos y/o publicados por el Usuario que, a exclusivo criterio de Servicios inmobiliarios G, no respondan estrictamente a las disposiciones contenidas en estas Condiciones Generales y/o resulten impropios y/o inadecuados a las características, finalidad y/o calidad de los Servicios.</p>
                        <br />
                        <p><strong>1.6.6</strong> Servicios inmobiliarios G no garantiza la disponibilidad y continuidad del funcionamiento de los Canales.</p>
                        <br />
                        <p><strong>1.6.7</strong> Servicios inmobiliarios G no es en ningún caso responsable de la destrucción, alteración o eliminación del contenido o información que cada Usuario incluya en sus mensajes.</p>
                        <br />
                        <p><strong>1.6.8</strong> Cada Usuario es único y exclusivo responsable de sus manifestaciones, dichos, opiniones y todo acto que realice a través de los Canales.</p>
                        <br />
                        <p><strong>2. DATOS PERSONALES DEL USUARIO. REGISTRO EN EL SITIO WEB.</strong></p>
                        <br />
                        <p><strong>2.1</strong> Cuando se registre en el Sitio Web, se le pedirá que aporte a Servicios Inmobiliarios G cierta información que incluirá, entre otras, nombre y apellido, dirección, teléfono y una dirección válida de correo electrónico, (de corresponder), entre otros.</p>
                        <br />
                        <p><strong>2.2</strong> Servicios inmobiliarios G se reserva el derecho de ofrecerle servicios y productos de terceros basados en las preferencias que Usted indicó al momento de registrarse o en cualquier momento posterior; tales ofertas pueden ser efectuadas por Servicios inmobiliarios G directamente por dichos terceros para lo cual Servicios inmobiliarios G podrá compartir con dichos terceros la información proporcionada por el Usuario de conformidad con el Aviso de Privacidad de Servicios inmobiliarios G.</p>
                        <br />
                        <p><strong>2.3</strong> Por favor consulte el Aviso de Privacidad del Sitio Web para conocer los detalles respecto del tratamiento de sus Datos Personales.</p>
                        <br />
                        <p><strong>2.</strong> El Usuario será responsable de todos los usos de su cuenta, tanto si están autorizados o no por Usted. Usted deberá notificar inmediatamente a Servicios inmobiliarios G sobre cualquier uso sin autorización de su cuenta o contraseña.</p>
                        <br />
                        <p><strong>2.5</strong> Los Usuarios registrados y/o que utilicen los Servicios de Servicios inmobiliarios G garantizan la veracidad, exactitud, vigencia y autenticidad de la información facilitada, y se comprometen a mantenerlos debidamente actualizados, informando a Servicios inmobiliarios G sobre cualquier modificación a través de la sección “Contacto” disponible en la página principal del Sitio Web.</p>
                        <br />
                        <p><strong>2.6</strong> El Usuario autoriza a que la información personal suministrada sea compartida con los clientes de Servicios Inmobiliarios G y terceros aliados y colaboradores comerciales referidos anteriormente.</p>
                        <br />
                        <p><strong>2.7</strong> Al utilizar la opción denominada “Servicios inmobiliarios G” el Usuario consiente y acepta, tanto la transferencia de sus datos personales en favor de terceros aliados y colaboradores comerciales como la aceptación de los términos y condiciones de estos, de manera enunciativa más no limitativa los de www.homie.mx y cualquier dominio asociado o que lo sustituya.</p>
                        <br />
                        <p><strong>3. MENORES DE EDAD.</strong></p>
                        <br />
                        <p><strong>3.1</strong> Queda prohibida la utilización del Sitio Web y/o de los Servicios ofrecidos a través del mismo por personas que carezcan de capacidad legal para contratar o menores de edad según la legislación aplicable conforme la cláusula 12. En caso que ello ocurra, los menores de edad o incapaces deben obtener previamente permiso de sus padres, tutores o representantes legales, quienes serán considerados responsables de todos los actos realizados por las personas a su cargo.</p>
                        <br />
                        <p><strong>3.2</strong> El Sitio Web es una comunidad en constante evolución que incluye diversos usuarios con diferentes experiencias y antecedentes. A pesar de que Servicios inmobiliarios G puede monitorear y tomar acción sobre la conducta inapropiada de otros usuarios o terceros, en el Sitio Web o el acceso o utilización de cualquiera de los Servicios ofrecidos, incluidas salas de chat y foros públicos, es posible que en cualquier momento pueda presentarse un lenguaje u otros materiales accesibles en o a través de tales que puedan ser inapropiados para menores de edad u ofensivos para otros usuarios. Las presentes Condiciones Generales señalan normas de conducta para los usuarios, pero Servicios inmobiliarios G no puede garantizar que el resto de usuarios cumplan con los mismos.</p>
                        <br />
                        <p>
                            <strong>3.3</strong> Al acceder al Sitio Web y utilizar los Servicios el Usuario confirma que es mayor de edad.
                        </p>
                        <br />
                        <p><strong>4. RESPONSABILIDAD DEL USUARIO.</strong></p>
                        <br />
                        <p>El Usuario declara y acepta que el uso del Sitio Web sus Servicios y los contenidos se efectúa bajo su única y exclusiva responsabilidad.</p>
                        <br />
                        <p><strong>5. EXCLUSIÓN DE GARANTÍAS Y DE RESPONSABILIDAD.</strong></p>
                        <br />
                        <p><strong>5.1</strong> Atento al estado de la técnica y a la estructura y funcionamiento de las redes, el Sitio Web no puede confirmar que cada Usuario es quien dice ser.</p>
                        <br />
                        <p><strong>5.2</strong> servicios inmobiliarios G no garantiza la disponibilidad y continuidad del funcionamiento del Sitio Web y de los Servicios ofrecidos. No todos los Servicios y contenidos en general se encuentran disponibles para todas las áreas geográficas. Asimismo, Servicios inmobiliarios G no garantiza la utilidad del Sitio Web y de los Servicios para la realización de ninguna actividad en particular, ni su infalibilidad y, en particular, aunque no de modo exclusivo, que los Usuarios puedan efectivamente utilizar el Sitio Web, acceder a las distintas páginas web que forman el Sitio Web o a aquéllas desde las que se prestan los Servicios.</p>
                        <br />
                        <p><strong>5.3</strong> servicios inmobiliarios G no garantiza que el Sitio Web funcione libre de errores o que el Sitio Web y su servidor estén libres de virus informáticos u otros mecanismos lesivos.</p>
                        <br />
                        <p><strong>5.4</strong> El Sitio Web y los Servicios se suministran tal como están, sin garantías de ninguna clase.</p>
                        <br />
                        <p><strong>5.5</strong> Servicios inmobiliarios g  no garantiza la exactitud, la veracidad, la exhaustividad o la actualización de los contenidos, los Servicios, el software, los textos, los gráficos y los vínculos.</p>
                        <br />
                        <p><strong>5.6</strong> En ningún caso Servicios inmobiliarios G será responsable de cualquier daño incluyendo, pero sin limitación, daños directos y/o indirectos, lucro cesante o pérdida de chance que resulten del uso o de la imposibilidad de uso del Sitio Web, sin perjuicio de que Servicios inmobiliarios G haya sido advertido sobre la posibilidad de tales daños.</p>
                        <br />
                        <p><strong>5.7</strong> Servicios inmobiliarios G excluye toda responsabilidad por los daños y perjuicios de toda naturaleza que pudieran deberse al accionar de terceros no autorizados respecto de los Datos Personales de los Usuarios, así como de los Servicios ofrecidos en el Sitio Web.</p>
                        <br />
                        <p><strong>6. VÍNCULOS A OTROS SITIOS.</strong></p>
                        <br />
                        <p>El Sitio Web contiene vínculos a otros sitios de Internet. Servicios inmobiliarios G no respalda los contenidos de estos sitios web. Servicios inmobiliarios G no es responsable del contenido de los sitios web de terceros, ni los servicios o productos ofrecidos o proporcionados por dichos terceros y no hace ninguna afirmación relativa al contenido o su exactitud en estos sitios web de terceros. Si Usted decide acceder a sitios web de terceras partes vinculados, lo hace a su propio riesgo.</p>
                        <br />
                        <p><strong>7. CESIÓN O USO COMERCIAL NO AUTORIZADO.</strong></p>
                        <br />
                        <p><strong>7.1</strong> Usted acepta no ceder, bajo ningún título, sus derechos u obligaciones bajo estas Condiciones Generales. Usted también acepta no realizar ningún uso comercial no autorizado del Sitio Web.</p>
                        <br />
                        <p><strong>7.2</strong> Asimismo, el Usuario se compromete a utilizar el Sitio Web y los Servicios diligentemente y de conformidad con la ley aplicable y vigente y con estas Condiciones Generales.</p>
                        <br />
                        <p><strong>8. CANCELACIÓN.</strong></p>
                        <br />
                        <p><strong>8.1</strong> servicios inmobiliarios G tiene la facultad, y no la obligación, de emitir advertencias, suspensiones temporales y cancelaciones permanentes (baja) de los Usuarios registrados por infracciones a las presentes Condiciones Generales, y/o cualquier aviso, reglamento de uso e instrucción puestos en conocimiento del Usuario por Servicios inmobiliarios G.</p>
                        <br />
                        <p><strong>8.2</strong> Sin perjuicio de lo indicado en el punto anterior, Servicios inmobiliarios G se reserva el derecho, a su exclusivo criterio, de emplear todos los medios legales a su alcance en caso que Usted infrinja cualquiera de estas Condiciones Generales.</p>
                        <br />
                        <p><strong>9. INDEMNIZACIÓN.</strong></p>
                        <br />
                        <p>Usted acepta mantener indemne a Servicios inmobiliarios G de y contra cualquier cargo, acción o demanda, incluyendo, pero no limitándose a, los gastos legales razonables, que resulten del uso que Usted haga del Sitio Web, de los Contenidos y de los Servicios. Usted acepta y reconoce que Servicios inmobiliarios G es un mero intermediario, ajeno a cualquier relación que pudiera entablarse entre Usted y quienes publiquen avisos, anuncios y/o propuestas a través del Sitio Web. En tal sentido, Usted acepta no reclamar a Servicios inmobiliarios G por ningún tipo de consecuencia derivada de tales relaciones.</p>
                        <br />
                        <p><strong>9. INDEMNIZACIÓN.</strong></p>
                        <p><strong>10. GENERAL.</strong></p>
                        <br />
                        <p><strong>10.1</strong> Servicios inmobiliarios G se reserva el derecho a modificar total o parcialmente estas Condiciones Generales en cualquier momento. En cuyo caso las Condiciones Generales actualizadas se publicarán en el Sitio Web, siendo obligación de los usuarios revisar regularmente esta sección a fin de informarse de cualquier cambio que se pueda haber producido. El Usuario acepta que la publicación de las Condiciones Generales actualizadas por parte de Servicios inmobiliarios G tendrán plena validez como notificación suficiente. Asimismo, si el Usuario persiste en la utilización de los Servicios y/o el Sitio Web, se considerará que ha aceptado implícitamente las nuevas Condiciones Generales.  Sin perjuicio de lo anterior, Servicios inmobiliarios Gnotificará las Condiciones Generales actualizadas al Usuario a la dirección de correo electrónico registrada para utilizar el Sitio Web o dando aviso en el propio Sitio Web.</p>
                        <br />
                        <p><strong>10.2</strong> En caso de declararse la nulidad de alguna de las cláusulas de estas Condiciones Generales, tal nulidad no afectará a la validez de las restantes, las cuales mantendrán su plena vigencia y efecto.</p>
                        <br />
                        <p><strong>10.3</strong> Estas Condiciones Generales, junto con el Aviso de Privacidad constituyen la totalidad del acuerdo entre Usted y Servicios inmobiliarios G respecto del uso del Sitio Web.</p>
                        <br />
                        <p><strong>11. DURACIÓN Y TERMINACIÓN.</strong></p>
                        <br />
                        <p>La prestación del Servicio del Sitio Web tiene una duración indeterminada. Sin perjuicio de lo anterior, Servicios inmobiliarios G está autorizada para dar por terminada o suspender la prestación del Servicio del Sitio Web y/o de cualquiera de los Contenidos en cualquier momento.</p>
                        <br />
                        <p><strong>12. LOCALIZACIÓN12.1 MEXICO</strong></p>
                        <br />
                        <p><strong>12.1.1</strong> Servicios inmobiliarios G significa Servicios Inmobiliarios G S.A. DE C.V, con domicilio en Margaritas No. 426 Ex hacienda de Guadalupe Chimalistac, 01050 Álvaro Obregón. Ciudad de México, México</p>
                        <br />
                        <p><strong>12.1.2</strong> El Sitio Web es www.serviciosinmobiliariosg.com.mx</p>
                        <br />
                        <p><strong>12.1.3</strong> Estas Condiciones Generales se rigen por las leyes de Estados Unidos Mexicanos. El Usuario se somete a la jurisdicción de los tribunales competentes ubicados en la Ciudad de México, con renuncia expresa a cualquier otro fuero y/o jurisdicción.</p>
                        <br /><br />

                    </div>
                </div>
            </div>
        </div>
        <div class="bg6 flex-c-m flex-w size-302 ">
            <span class="stext-107 cl6 p-lr-25">
                <label id="m_TipoCategoriaS"></label>
            </span>
            <span class="stext-107 cl6 p-lr-25">
            </span>
        </div>
    </div>
</div>