
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        .ContenedorBusqueda {
            font-family: PlayfairDisplay-Bold;
            color: #ffff;
            line-height: 1.1;
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-border-radius: 10px 10px 10px 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        }

        .bg-light {
            background-color: #f8f9fa !important;
            -webkit-border-radius: 10px 10px 10px 10px;
        }

        .size-116 {
            width: 100%;
            height: 40px;
        }


        .btn {
            display: inline-block;
            font-weight: 400;
            height: 40px;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .5rem .75rem;
            font-size: 1rem;
            line-height: 1.25;
            border-radius: .25rem;
            transition: all .15s ease-in-out;
            font-family: 'Proxima Nova',-apple-system,'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;
            border-color: #17a2b8;
            background-color: #17a2b8;
            color: #ffffff;
        }

            .btn:hover {
                border-color: #17a2b8;
                background-color: #f8f9fa;
                color: #17a2b8;
            }
    </style>

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-42" style="background-image: url('../../images/Headers/offica-home.JPG'); text-align:center;">
    <div class=" h-full p-t-0 p-b-0 respon5" style="text-align:center;">
        <div class="layer-slick1 animated " style="text-align:center;">
            <br /><br /><br /><br /><br />
            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1 text-center" style="font-size: 30px; width:100%; text-align:center;font-family: " Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;">
                &nbsp;Pagina no encontrada    <span style="color: #dc8505"> </span>&nbsp;
                <br />
                404
            </h2>
            <br /><br /><br />
        </div>
    </div>
</section>
<br />

<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-sm-offset-2 text-center">
                    <h1 style="padding:30px"><strong>Los sentimos, pagina no encontrada  404</strong> </h1>
                    <h1 style="padding:3px; font-size:150px"><strong><i class="fa fa-cloud" aria-hidden="true"></i></strong> </h1>
                    <div class="description">
                        <p>
                            Actualmente la página no está disponible, es posible que ya no exista, si tienes algún problema envíanos un mensaje.
                        </p>
                    </div>
                    <br />
                    <hr />
                    <button class="btn my-2 my-sm-0 col-md-3" onclick="Busquedas()" type="submit"> Contactar  </button>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- Related Products -->
<section class="sec-relate-product bg0 p-t-45 p-b-10">
    <div class="container">
        <div class="p-b-45">
            <h3 class="ltext-106 cl5 txt-center">
                URL: <br />
                @ViewBag.URL
            </h3>
        </div>

        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">
                
            </div>
        </div>
    </div>
</section>

<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
    <span class="stext-107 cl6 p-lr-25">
    </span>

    <span class="stext-107 cl6 p-lr-25">
    </span>

</div>